{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Personal Information</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li class="list-unstyled">Name: {{ prospect }}</li>
                {% for field in personal_fields %}
                    {% if field.name == 'date_of_birth' %}
                        <li class="list-unstyled">{{ field.verbose_name }}
                            : {{ prospect.personal_information.date_of_birth }}</li>
                    {% elif field.name == 'gender' %}
                        <li class="list-unstyled">{{ field.verbose_name }} :
                            {% if prospect.personal_information.gender %}Male{% else %}Female{% endif %}</li>
                    {% elif field.name == 'contacts' %}
                        <li class="list-unstyled">{{ field.verbose_name }}:
                            <ul>
                                {% for contact in prospect.personal_information.contacts %}
                                    <li class="list-unstyled">
                                        Address: {{ contact.address }} <br/>
                                        Mobile: {{ contact.mobile_number }} <br/>
                                        Email: {{ contact.email }} <br/>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% elif field.name == 'interests' %}
                        <li class="list-unstyled">{{ field.verbose_name }}:
                            <ul>
                                {% for interest in prospect.personal_information.interests %}
                                    <li class="list-unstyled">{{ interest.name }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% elif field.name == 'hobbies' %}
                        <li class="list-unstyled">{{ field.verbose_name }}:
                            <ul>
                                {% for hobby in prospect.personal_information.hobbies %}
                                    <li class="list-unstyled">{{ hobby.name }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
    {% for panel in professional_panels %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ panel }}</h3>
            </div>
            <div class="panel-body">
                {% if panel == 'Skills' %}
                    <ul>
                        {% for soft_skill in prospect.soft_skills %}
                            <li>{{ soft_skill.name }}</li>
                        {% endfor %}
                    </ul>
                {% elif panel == 'Education' %}
                    <ul>
                        {% for education in prospect.education %}
                            <li>
                                <div>
                                    School: {{ education.school }}
                                    Year: {{ education.start_year }} - {{ education.end_year }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% elif panel == 'Technical Proficiencies' %}
                    <ul>
                        {% for tech_skill in prospect.technical_skills.all %}
                            <li>{{ tech_skill.name }}</li>
                        {% endfor %}
                    </ul>
                {% elif panel == 'Experience' %}
                    <ul>
                        {% for experience in prospect.experiences %}
                            <li>
                                <div>
                                    Company: {{ experience.company }}
                                    Position: {{ experience.position }}
                                    Duration : {{ experience.start_date }} - {{ experience.end_date }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% elif panel == 'Career Objective' %}
                    {{ prospect.career_objective.text }}
                {% endif %}
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block js %}
    {{ block.super }}

    <script type="text/javascript">
        const prospect_id =
        {{ prospect.id }}
        const webSocketBridge = new channels.WebSocketBridge();
        webSocketBridge.connect('/ws/prospects/');

        webSocketBridge.demultiplex(prospect_id, function (action, stream) {
            console.log(action)
            console.log(stream)
        });

        /**
         * webSocketBridge.stream(prospect_id).send({action: 'filter', type: 'experiences'})
         * webSocketBridge.stream(prospect_id).send({action: 'filter', type: 'education'})
         * webSocketBridge.stream(prospect_id).send({action: 'filter', type: 'technical_skills'})
         * webSocketBridge.stream(prospect_id).send({action: 'filter', type: 'contacts'})
         * webSocketBridge.stream(prospect_id).send({action: 'retrieve'})
         */


        webSocketBridge.socket.addEventListener('open', function () {
            console.log("Connected to WebSocket");
        });
        webSocketBridge.listen(function (action, stream) {
            console.log(action);
        });

    </script>

{% endblock %}