{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="page-header">
        <h1>Prospects</h1>
    </div>
    <div class="row">
        <form class="form-inline" role="search">
            <div class="form-group">
                <input type="text" name="skill_filter" class="form-control" placeholder="Skill">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

    <div class="row">
        <ul>
            {% for prospect in prospects %}
                <li class="list-inline"><a href="{{ prospect.get_absolute_url }}">{{ prospect }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}

    <script type="text/javascript">
        const webSocketBridge = new channels.WebSocketBridge();
        webSocketBridge.connect('/ws/prospects/');

        webSocketBridge.demultiplex('1', function (action, stream) {
            console.log(action, stream);
        });

        webSocketBridge.socket.addEventListener('open', function () {
            console.log("Connected to WebSocket");
        });

        webSocketBridge.listen(function (action, stream) {
            console.log(action);
            console.log(stream)
        });

        document.querySelector(".form-inline").addEventListener('submit', function (event) {
            event.preventDefault();
            webSocketBridge.send({skill:$(this).serializeArray()[0].value});
        })
    </script>

{% endblock %}